@mixin displayFlexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin displayColCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin container {
  @include displayColCenter();

  padding: 5%;
  padding-top: 20%;
  background-color: $white-color;
  opacity: 0.6;
  width: 80%;
  border-radius: $container-radius;
}

@mixin containerDetailsMedia {
  @media (min-width: 482px) {
    margin-top: -10%;
    padding-top: 15%;
  }

  @media (min-width: 642px) {
    margin-top: -7%;
    padding-top: 10%;
    width: 60%;
  }

  @media (min-width: 768px) {
    margin-top: -5%;
    padding-top: 5%;
  }

  @media (min-width: 1200px) {
    margin-top: -3%;
  }
}

@mixin detailsCircle {
  @include displayFlexCenter();  
  width: 100px;
  height: 100px;
  border: $border;
  box-sizing: border-box;
  border-radius: $border-radius;
  background: $circle-background;
}

@mixin detailsWrapper {
  @include displayColCenter();
  color: $pink-color;
  margin-top: 10%;

  @media (min-width: 642px) {
    margin-top: 5%;
  }
}

@mixin detailsContainer {
  display: flex;
  flex-direction: column;
  margin-top: -15%;
  padding: 5%;
  padding-top: 20%;
  background-color: $white-color;
  opacity: 0.6;
  width: 80%;
  border-radius: 10px;
  font-size: 18px;

  @media (min-width: 482px) {
    margin-top: -10%;
    padding-top: 15%;
  }

  @media (min-width: 642px) {
    margin-top: -7%;
    padding-top: 10%;
    width: 60%;
  }

  @media (min-width: 768px) {
    margin-top: -5%;
    padding-top: 5%;
  }

  @media (min-width: 1200px) {
    margin-top: -3%;
  }
}