$pink-color: #ee4097;
$pink-color-light: #FF69B4;
$pink-color-dark: #ad0b5c;
$white-color: #f8f8f8;

$border: 5px solid $pink-color;
$border-radius: 50%;

$container-radius: 10px;

$background-color: linear-gradient(90deg, #f5dde1 0, #ffc0cb,);
$circle-background: linear-gradient(-45deg, $white-color, $pink-color-light);

$invitation-title-color: linear-gradient(-45deg,#fc53a8,$pink-color-dark);