@use '../../styles/index.scss' as *;

.HomePage {
  position: relative;
}

.BaloonsDown {
  position: fixed;
  width: 100%;
  height: 70%;
  background-image: url('../../../public/images/ballons.png');
  background-repeat: no-repeat;
  bottom: 0;
  right: 0;
}

.CircleWrapper {
  @include displayFlexCenter();
}

.Circle {
  @include displayFlexCenter();

  margin-top: 10%;
  width: 180px;
  height: 180px;
  border: $border;
  box-sizing: border-box;
  border-radius: $border-radius;
  background: $circle-background;

  &__Button {
    width: 100%;
    height: 100%;
    color: $pink-color;
    border: none;
    background-color: transparent;
    border-radius: transparent;

    &:hover {
      cursor: pointer;
      color: $white-color;
    }
  }
}
